@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity : 1;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

a.btn {
    transition: background .4s ease, color .4s ease, box-shadow .4s ease;
}

header {
    height: 75px;
    padding: 20px;
}

header .logo {
    float: left;
}

header ul {
    display: inline-block;
    position: relative;
    float: right;
    padding: 0;
}

header li {
    display: inline-block;
    margin-left: 10px;
}

header li.has-sub {
    
}

header li.has-sub > ul {
    display: none;
}

header li.has-sub:hover > ul {
    display: block;
    position: absolute;
    right: 0;
    opacity: 1;
    animation: fade-in .4s ease;
}

header li.has-sub > ul > li {
    display: block;
    float: right;
    margin-top: 5px;
}

header li.has-sub > ul > li > a {
    border-right: 3px solid #337AB7;
}

.logo-sm {
    height: 35px;
    width: 35px;
}

.legal {
    margin-top: 20px;
}